<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--<add key="ModelPath" value="C:\Workspaces\BOL\External2DRendering\X.Editor.Controls.Eto\bin\Debug\X.Editor.Controls.Eto.dll" />-->
    <add key="ModelPath" value="C:\Workspaces\BOL\Editors\X.Editor.Controls\bin\Debug\X.Editor.Controls.dll" />
         
         <!--<add key="ModelPath" value="C:\Workspaces\BOL\Editors\TestModel.Editor\bin\Debug\TestModel.Editor.dll" />-->
    <!--<add key="ModelPath" value="C:\Workspaces\BOL\Editors\Automate.Editor\bin\Debug\Automate.Editor.dll" />-->
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
    </assemblyBinding>
  </runtime>
</configuration>